{% extends 'base.html' %}

{% block title%}
about
{% endblock %}

{% block content%}
<center><h1>ABOUT PAGE</h1></center>
<center>
<p>Apollo Hospitals was founded by Prathap C. Reddy in 1983 as the first corporate health care in India. The first branch at Chennai was inaugurated by the then President of India Zail Singh.[11]

Apollo developed telemedicine services, after starting a pilot project in 2000 at Aragonda, Prathap Reddy's home village.[12]

In 2006, Apollo exited its hospital in Colombo called Apollo Hospital Sri Lanka by selling its stake to Sri Lanka Insurance.[13]

In 2007, Apollo Hospitals and DKV AG established a 74:26 joint venture health insurance company called Apollo DKV Insurance Co.[14] The company was rebranded as Apollo Munich Health Insurance in 2009.[15]

In December 2012, Apollo Hospitals sold its 38% stake in Apollo Health Street, the group's healthcare business process outsourcing division, to Sutherland Global Services for ₹225 crore (US$42.11 million).[16]

In 2014, Apollo Hospitals acquired Hetero Med Solutions, a South Indian pharmacy chain with 320 stores, from Hetero Group for ₹146 crore (US$23.92 million) in a slump sale. The stores were rebranded as Apollo Pharmacy.[17]

In October 2015, Apollo launched home care services under Apollo HomeCare[18] and its digital healthcare platform called Ask Apollo.[19]

Apollo signed an MoU with Health Education England in April 2017 to provide a large number of doctors to fill vacancies in the English National Health Service.[20]

In January 2019, Apollo opened Apollo Proton Cancer Centre in Chennai, which is reportedly the first proton therapy facility across South Asia, Southeast Asia and the Middle East.[21][22]

In 2020, Apollo Hospitals sold its 50.80% percent majority stake in Apollo Munich Health Insurance to HDFC for ₹1,495 crore (US$190 million).[23] It also sold its joint venture hospital in Dhaka to Evercare.[24]

In March 2022, Apollo Hospitals got included in Nifty 50 benchmark index, replacing Indian Oil, to become the first hospital company to be included on the index.[25]</p></center>

<center>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">MOMO Hospital</button>
  <button type="button" class="btn btn-outline-primary">KOCHI,Kerala</button>
  <button type="button" class="btn btn-outline-primary">CLICK&Now</button>
</div>
  </center>
{% endblock %}